@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,500;0,600;0,800;1,100;1,600&display=swap");

/*******Général********/

* {
  font-family: "Raleway", sans-serif;
}
html {
  display: flex;
  justify-content: center;
}
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1280px;
}

h2 {
  font-size: 20px;
}
/*******NAVBAR********/
header {
  display: flex;
}

nav {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

.logo {
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.nav div {
  padding: 10px 15px 0px 15px;
}

.active:hover {
  border-top: 5px solid #0065fc;
  text-decoration: none;
}

.unactive:hover {
  border-top: 5px solid #0065fc;
  text-decoration: none;
}

.active a {
  color: #0065fc;
}

.unactive a {
  color: black;
}

.nav a {
  text-decoration: none;
}

.active {
  margin-top: 5px;
}

.unactive {
  margin-top: 5px;
  text-decoration: none;
  color: black;
  padding-left: 3px;
  padding-right: 3px;
}

ul a:hover {
  color: #0065fc;
}

.sub {
  margin-top: 7px;
  font-weight: 600;
  color: #0065fc;
  padding: 10px 15px 0px 15px;
}

.sub a {
  color: #0065fc;
  text-decoration: none;
}

/**********************/

/*******Text********/

h1 {
  font-size: 15px;
  line-height: 7px;
  font-weight: 700;
}

p {
  font-weight: 400;
}

/*******Searchbar********/
.localisation {
  height: 45px;
  border-right: none;
  border-left: none;
  padding: 5px;
  border: none;
}

button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #0065fc;
  color: white;
  border: none;
}

.searchbar button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 45px;
  background-color: #0065fc;
  color: white;
  border: none;
}

.filter i {
  position: relative;
  right: 16px;
}

.searchbar {
  display: flex;
  align-items: center;
  margin: 20px 0 20px 0;
}

.searchbar i {
  background-color: #f5f5f5;
  padding: 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.fas.fa-search {
  display: none;
}

.fa-info-circle {
  color: #0065fc;
}

/*******Filter********/

.filter {
  display: flex;
  vertical-align: middle;
  align-items: center;
  margin-bottom: 20px;
}

.filter button {
  background-color: white;
  color: black;
  border: solid #f5f5f5;
  border-width: 2px;
  border-radius: 50px;
  margin-left: 20px;
}

.filter button:hover {
  background-color: #0065fc;
  color: #fff;
}

.filter i {
  color: #0065fc;
  border-radius: 50%;
  background-color: #deebff;
  padding: 16px;
}

.info {
  font-size: 12px;
  margin-bottom: 15px;
  font-weight: normal;
}

.info p {
  display: inline;
  padding-left: 5px;
}

/*******Hébergement********/
.section {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#container {
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 20px;
  margin-right: 20px;
}

#container img {
  border-radius: 15px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

/*********Les plus populaires**************/

.fa-chart-line {
  padding-left: 30px;
}

.container_1 .card_img img {
  width: 100%;
  height: 130px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 20px;
}

.container_1 .card_img {
  width: 150px;
}

.container_1 h2 {
  display: inline;
}

.container_1 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 20px;
  justify-content: space-around;
}

.container_1 .card_body {
  display: flex;
  flex-direction: column;
  text-align: start;
  font-size: 10px;
  padding-left: 5px;
  width: 70%;
}

.icon_popular {
  display: inline;
  flex-direction: column;
  margin: auto 0 20px 5px;
}

.card_1 {
  display: inline-flex;
  background: #fff;
  border: 1px solid #f5f5f5;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.21);
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 30px;
}

.row_1 {
  display: flex;
  justify-content: space-around;
}

.fa-star {
  color: #0065fc;
}

.card {
  background: #fff;
  border: 1px solid #f5f5f5;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 20px;
  width: 277px;
  box-sizing: border-box;
  margin: 6px;
  box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.21);
}

.card_body {
  text-align: start;
  font-size: 10px;
  padding-left: 5px;
}

.card_img img {
  max-height: 200px;
  border-radius: 15px;
  object-fit: cover;
  width: 264px;
  height: 148px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 0px;
}

/*******Footer********/

footer {
  background-color: #f5f5f5;
  width: 100%;
  margin-top: 20px;
}

.footerall {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  width: 100%;
}

.footerall ul {
  text-decoration: none;
  list-style: none;
  padding-left: 0;
}

.footerall li {
  margin: 10px 0 0 0;
}

/*******Activité********/

#activity {
  display: flex;
  column-gap: 20px;
  height: 550px;
  width: 100%;
}

#activity div {
  display: flex;
  box-sizing: border-box;
}

.activity-columns {
  flex-direction: column;
  display: flex;
  width: 25%;
}

.activity-columns > img {
  height: 500px;
}

.card-60 {
  flex-direction: column;
  height: 300px;
  padding-bottom: 11px;
}

.card-60 img {
  height: 250px;
}

.card-40 {
  flex-direction: column;
  height: 350px;
}

.card-40 img {
  height: 200px;
}

.activity-card-img {
  object-fit: cover;
  display: flex;
  flex-direction: column;
}

#activity img {
  width: 100%;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  object-fit: cover;
}

.activity-card-title {
  box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.21);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.activity-card-title h5 {
  padding-left: 30px;
  padding-bottom: 10px;
  font-size: 16px;
  margin: 0;
  margin-top: 10px;
}
